@charset "UTF-8";

.wrap{margin: 0 auto;background-color: #ffffff;position: relative;width: 640px;/* height: 100%; */padding: 35px;box-sizing: border-box;}
.wrap:before{position: absolute;content: '';display: block;background: url(../images/0102_01.png)no-repeat right top;width: 400px;height: 100%;left: 0;top:0;background-size: 100% auto;}
.wrap:after{position: absolute;content: '';display: block;background: url(../images/0101_02.png)no-repeat left bottom;width: 360px;height: 100%;right: 0;bottom: 0;background-size: 100% auto;}
.inner{border: 1px solid #ddd;box-sizing: border-box;height: 100%;padding: 25px;box-sizing: border-box;}
.top{z-index: 1;position: relative;text-align: center;margin-top: 50px;}
.top01{font-family: 'PartialSansKR-Regular';font-size: 52px;line-height: 1;color: #b1a3ff;}
.top02{font-family: 'KBO-Dia-Gothic_bold';font-size: 74px;line-height: 1;margin-top: 0px;}
.top03{font-family: 'MYYeongnamnu';font-size: 40px;line-height: 1;margin-top: 5px;color: #7d7d7d;}
.midd{position: relative;z-index: 1;}
.info{margin-top: 50px;}
.info > li{display: flex;margin-top: 15px;gap: 12px;font-family: 'GongGothic';align-items: baseline;}
.info > li > span{background-color: rgba(177,163,255,0.2);border-radius: 25px;padding: 8px 15px;line-height: 1;font-size: 24px;box-sizing: border-box;color: #000;text-align: center;width: 75px;flex: 0 75px;align-self: baseline;font-weight: 500;}
.info > li > em{font-size: 24px;flex: 1;word-break: keep-all;letter-spacing: -0.75px;font-weight: 300;line-height: 1;}

.midd_tit{font-family: 'GongGothic';font-size: 26px;font-weight: 500;color: #3aab87;margin-top: 25px;line-height: 1.35;margin-bottom: 10px;}
.cata03_c01{background-color:#9b82dc;}/* 회계기준위원회 */
.cata03_c02{background-color:#91bd8e;}/* 회계기준자문위원회 */
.cata03_c03{background-color:#ee8880;}/* 세미나 */
.cata03_c04{background-color:#768bc4;}/* 포럼 */
.cata03_c05{background-color:#ffa500;}/* 교육 */
.cata03_c06{background-color:#3f88eb;}/* 지속가능성기준위원회 */
.cata03_c07{background-color:#131c96;}/* 지속가능성기준자문위원회 */
.cata03_c08{background-color:#3aab87;}/* 지속가능성기준전문위원회 */
.cata03_c09{background-color:#a5b4be;}/* 국제회의 */
.cata03_c10{background-color:#404f68;}/* 기타 */

.path{font-family: 'GongGothic';word-break: keep-all;border-top: 2px solid #3aab87;}
.path > li{padding: 15px 10px;padding-left: 85px;box-sizing: border-box;border: 1px solid #ddd;border-top: 0;position: relative;}
.path > li:before{position:absolute;content:'';display:block;width: 45px;height: 45px;background-color: #f1f1f1;background-position: center;background-repeat: no-repeat;left: 20px;border-radius: 25px;top: 15px;}
.path > li:nth-of-type(1):before{background-image:url(../images/ico_car.png);}
.path > li:nth-of-type(2):before{background-image:url(../images/ico_bus.png);}
.path > li .path_tit{font-weight: 500;font-size: 22px;line-height: 1;margin-top: 12px;}
.path > li .path_txt{font-weight: 300;font-size: 20px;line-height: 1.35;margin-top: 10px;}
.path > li .path_gro{}
.path > li .path_noti{padding: 8px;padding-left: 35px;position: relative;background-color: #f1f1f1;box-sizing: border-box;font-size: 16px;line-height: 1.35;margin-top: 5px;}
.path > li .path_noti:before{position: absolute;content: '!';display: block;width: 16px;height: 16px;border-radius: 50px;left: 12px;background-color: #ffa500;font-size: 10px;text-align: center;line-height: 17px;top: 10px;color: #fffed0;font-weight: 500;}

.noti_wrap{position: relative;}
.noti{background-color: #fffed0;padding: 12px 15px;border-radius: 0;box-sizing: border-box;font-family: 'MYYeongnamnu';display: flex;font-size: 22px;flex-direction: column;margin-top: 10px;}
.noti > span{color: #000;font-weight: 700;line-height: 1;display: none;}
.noti > em{line-height: 1.35;word-break: keep-all;text-align: center;}

.noti_wrap:before{position:absolute;content:'';display:block;width: 157px;height: 83px;background: url(../images/cat01.png)no-repeat left bottom;background-size: 100% auto;left: -20px;bottom:-20px;z-index: 1;}
.noti_wrap:after{position:absolute;content:'';display:block;width: 79px;height: 89px;background: url(../images/cat03.png)no-repeat left top;background-size: 100% auto;left: 0px;top:-20px;}
.noti:before{position:absolute;content:'';display:block;width: 140px;height: 92px;background: url(../images/cat05.png)no-repeat right bottom;background-size: 100% auto;right:.0;bottom: -55px;z-index: 2;}
.noti:after{position:absolute;content:'';display:block;width: 118px;height: 87px;background: url(../images/cat02.png)no-repeat right top;background-size: 100% auto;right:0;top:-30px;z-index: 1;}

.map_wrap{}
.map_wrap .map{width: 100%;height: 300px;}
.map_wrap .root_daum_roughmap .wrap_map{height: 100%;}

.event{position: relative;z-index: 1;background-color: rgba(255,254,208,0.5);padding: 15px;font-family: 'GongGothic';margin-top: 50px;border: 2px solid #b1a3ff;box-sizing: border-box;word-break: keep-all;}
.event_tit{font-family: 'KBO-Dia-Gothic_bold';font-size: 28px;text-align: center;line-height: 1.25;margin-bottom: 10px;}
.event_tit02{text-align: center;font-size: 22px;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;line-height: 1.25;padding: 8px 0;}
.event_tit02 > span{font-weight: 700;color: #846eff;}
.event_noti{font-size: 20px;line-height: 1.35;margin-top:10px;}
.event_noti > li{position: relative;padding-left: 20px;}
.event_noti > li:before{position:absolute;content:'';display:block;width:5px;height:5px;background-color:#000;left:0;top:10px;}

@media (max-width: 680px){
    .wrap{width:100%;}
    
}
@media (max-width: 640px){
    .wrap{padding: 25px;}
    .noti{letter-spacing: -0.25px;font-size: 20px;}

    .noti_wrap:before{width: 135px;left: -25px;bottom: -25px;}
    .noti_wrap:after{width: 70px;top: -10px;}
    .noti:before{width: 130px;bottom: -35px;}
    .noti:after{width: 100px;top: -25px;}

    .map_wrap .map{height: 280px;}

}
@media (max-width: 600px){

    .top01{font-size: 45px;}
    .top02{font-size: 65px;}
    .top03{font-size: 35px;}
    .info{margin-top: 35px;}
    .info > li{gap: 10px;margin-top: 10px;}
    .info > li > span{font-size: 22px;}
    .info > li > em{font-size: 22px;}

    .midd_tit{font-size: 24px;line-height: 1;}


    .path > li .path_tit{font-size: 20px;}
    .path > li .path_txt{font-size: 18px;}


    .noti_wrap:before{width: 120px;bottom: -20px;}
    .noti_wrap:after{width: 65px;}
    .noti:before{width: 105px;bottom: -35px;}
    .noti:after{width: 90px;top: -9px;}

    .map_wrap .map{height: 250px;}
    
    .event{margin-top: 35px;}
    .event_tit{font-size: 26px;}
    .event_tit02{font-size: 20px;}
    .event_noti{font-size: 18px;}
    .event_noti > li{padding-left: 15px;}
    .event_noti > li:before{top: 7px;}
}
@media (max-width: 560px){
    .wrap:before{background-size: 100% auto;width: 300px;}
    .wrap:after{background-size: 100% auto;width: 300px;}
    .info > li > span{font-size: 20px;padding: 6px 12px;width: 65px;flex: 0 65px;}
    .info > li > em{font-size: 20px;line-height: 1.25;}

    .path{letter-spacing: -0.75px;}
    .path > li{padding: 12px 10px;padding-left: 70px;}
    .path > li:before{width: 40px;height: 40px;left: 15px;}
    .path > li:nth-of-type(1):before{background-size: auto 17px;}
    .path > li:nth-of-type(2):before{background-size: auto 15px;}
    .path > li .path_tit{font-size: 18px;margin-top: 15px;}
    .path > li .path_txt{margin-top: 8px;font-size: 16px;}
    .path > li .path_noti{font-size: 15px;}
    .path_noti > span{display: block;}

    .map_wrap .map{height: 235px;}

}

@media (max-width: 480px){
    .wrap{padding: 20px;}
    .wrap:before{width: 265px;}
    .wrap:after{width: 250px;}
    .inner{padding: 20px;}
    .top{margin-top: 15px;}
    .top01{font-size: 36px;}
    .top02{font-size: 52px;}
    .top03{font-size: 30px;margin-top: 0;}
    .info{margin-top: 25px;}
    .info > li > span{font-size: 18px;width: 60px;flex: 0 60px;}
    .info > li > em{font-size: 18px;}

    .midd_tit{font-size: 22px;margin-top: 20px;margin-bottom: 8px;}

    .path > li{padding: 10px;padding-left: 60px;}    .path > li:before{width: 35px;height: 35px;left: 12px;}
    .path > li .path_tit{font-size: 16px;margin-top: 4px;}
    .path > li .path_txt{font-size: 15px;margin-top: 5px;}
    .path > li .path_noti{font-size: 14px;padding: 8px;padding-left: 28px;}
    .path > li .path_noti:before{width: 14px;height: 14px;font-size: 8px;line-height: 15px;left: 8px;top: 10px;}
    .noti{font-size: 18px;letter-spacing: -0.75px;}

    .noti_wrap:before{width: 100px;bottom: -20px;left: -20px;}
    .noti_wrap:after{width: 55px;top: -5px;}
    .noti:before{width: 82px;bottom: -28px;}
    .noti:after{width: 70px;top: 7px;}

    .map_wrap .map{height: 200px;}
    
    .event{margin-top: 25px;padding: 12px;}
    .event_tit{font-size: 22px;margin-bottom: 5px;}
    .event_tit02{font-size: 18px;letter-spacing: -0.5px;}
    .event_noti{font-size: 15px;margin-top: 8px;}
    .event_noti > li{padding-left: 10px;}
    .event_noti > li:before{width: 4px;height: 4px;top: 7px;}
}
@media (max-width: 400px){
    .wrap{width:100%;padding: 15px;}
    .wrap:before{width: 235px;}
    .wrap:after{width: 200px;}
    .inner{padding: 15px;}
    .top01{font-size: 34px;}
    .top02{font-size: 48px;}
    .top03{font-size: 28px;}
    .info > li{gap: 8px;}
    .info > li > span{font-size: 16px;padding: 5px;width: 50px;flex: 0 50px;}
    .info > li > em{font-size: 16px;}

    .midd_tit{font-size: 20px;}

    .path > li .path_tit{font-size: 15px;}
    .path > li .path_txt{font-size: 14px;}

    .path > li .path_noti{font-size: 13.5px;}

    .noti{font-size: 16px;}

    .noti_wrap:before{/* width: 90px; */bottom: -15px;left: -15px;}
    .noti_wrap:after{/* width: 50px; */}
    .noti:before{width: 85px;}
    .noti:after{width: 75px;top: -5px;}

    .map_wrap .map{}

}